<footer class="text-center text-lg-start mt-auto bg-light">
  <div class="text-center p-3" style="color: #37966f">
    <i>© 2022 | <strong>TinyApp</strong> by Ann Bui at LHL</i>
  </div>
</footer>

<!-- #FD5523 -->
